#navbar {
	color: #333333;
	background: #FFF;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
}

.cover {
	background: url("../images/background.jpeg") no-repeat;
	background-size: 100%;
	min-height: 400px;
	margin-bottom: 10px;
}

nav {
	float: right;
	margin-top: 5px;
	padding: 5px;
}

nav>ul {
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
}

nav>ul>li {
	display: inline-block;
	padding: 10px;
}

.cover-text {
	display: inline-block;
	font-family: 'Poppins', sans-serif;
}

i.fa-train {
	font-size: 1.5em;
	display: inline-block;
	padding-right: 10px;
}

.table>thead>tr>th {
	border: none;
}

.thead-inverse th {
 	color: #fff;
 	background-color: #755142;
}